################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/E-commerce/.vs/E_commerce/FileContentIndex/561dc3f3-68c4-4de7-8b7b-8544ba15f352.vsidx
/E-commerce/.vs/E_commerce/FileContentIndex/570ed2a0-22ef-46fd-a2ef-98926a08757b.vsidx
/E-commerce/.vs/E_commerce/FileContentIndex/985425a6-0ef5-40c8-a6dc-b2c145776263.vsidx
/E-commerce/.vs/E_commerce/FileContentIndex/b16df967-5274-45dc-aec7-b0614b7f6dc1.vsidx
/E-commerce/.vs/E_commerce/FileContentIndex/b670d97a-378a-44f9-a089-62a945e1835f.vsidx
