@page "/amministrazione"

<h3>Amministrazione</h3>

<EditForm Model="input", OnSubmit="@Validate">
    <InputText @bind-Value=input.name></InputText>
</EditForm>

<div class="text-center mt-4">
    <button class="btn btn-primary">Modifica</button>
</div>

@code 
{
    InputModel input = new InputModel();

    void Validate()
    {

    }

    public class InputModel
    {
        public string name { get; set; }
    }
}
