@page "/amministrazione"

<h3>Amministrazione</h3>

@* <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Carica Immagine</h5>
                <input type="file" class="form-control-file">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inserisci Testo</h5>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inserisci Testo</h5>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <button class="btn btn-primary">Modifica</button>
</div> *@

@code {
}
