################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/E_commerce/FileContentIndex/21f59f11-22a3-46fe-801b-f0090087aadb.vsidx
/.vs/E_commerce/FileContentIndex/260f9e40-f1be-4fde-af78-e235ea3821a8.vsidx
/.vs/E_commerce/FileContentIndex/5faa527e-42b1-4c1c-996a-8a9e37c92e80.vsidx
/.vs/E_commerce/FileContentIndex/7c20209a-08d2-4643-b708-c956a151cadb.vsidx
/.vs/E_commerce/FileContentIndex/c9a487c6-233e-436a-9295-7ac9db86a139.vsidx
